[submodule "external/kubectx"]
	path = external/kubectx
	url = https://github.com/ahmetb/kubectx
[submodule "external/mac-cleanup"]
	path = external/mac-cleanup
	url = https://github.com/fwartner/mac-cleanup.git
[submodule "external/bin.linux/XMousePasteBlock"]
	path = external/bin.linux/XMousePasteBlock
	url = https://github.com/milaq/XMousePasteBlock.git
