[submodule "fresh/yjpark/mu-repo"]
	path = fresh/yjpark/mu-repo
	url = git@github.com:yjpark/mu-repo.git
[submodule "fresh/yjpark/dayone2evernote"]
	path = fresh/yjpark/dayone2evernote
	url = git@github.com:yjpark/dayone2evernote.git
[submodule "linux/xmonad.sample"]
	path = linux/xmonad.sample
	url = git@github.com:yjpark/xmonad-config.git
[submodule "windows/AutoHotKey/virtual-desktop"]
	path = windows/AutoHotKey/virtual-desktop
	url = git@github.com:yjpark/win-10-virtual-desktop-enhancer.git
[submodule "external/guacamole"]
	path = external/guacamole
	url = https://github.com/reisbel/guacamole-docker-compose.git
[submodule "external/ufw-docker"]
	path = external/ufw-docker
	url = git@github.com:chaifeng/ufw-docker.git
[submodule "external/kubectx"]
	path = external/kubectx
	url = https://github.com/ahmetb/kubectx
[submodule "external/mac-cleanup"]
	path = external/mac-cleanup
	url = https://github.com/fwartner/mac-cleanup.git
[submodule "windows/AutoHotKey/windows-desktop-switcher"]
	path = windows/AutoHotKey/windows-desktop-switcher
	url = git@github.com:yjpark/windows-desktop-switcher.git
