{erl_opts, [debug_info,native, {native,o2},
            {i, 
            [
            	"include",
            	"./src"
            ]}]}.

{require_otp_vsn, "R?1[78]"}.

{sub_dirs, ["rel", "dev"]}.


{deps,
 [ 
    {sc, ".*", {git, "git://github.com/StoneCypher/scutil.github.com.git", {branch, "master"}}}
]}.

{ct_extra_params, "-sasl sasl_error_logger false"}.
