"*":
  "exception-reporting":
    userId: "1c11f54d-7cce-3800-3256-345cb5618415"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "symbols-view"
    ]
  Zen:
    softWrap: true
  editor:
    invisibles:
      {}
    tabLength: 4
    fontSize: 18
    lineHeight: 1.4
    fontFamily: "Source Code Pro for Powerline"
    scrollPastEnd: true
    softWrap: true
  "git-plus":
    {}
  date:
    timeFormat: "### HH24:MI"
  linter:
    {}
  "tree-view":
    hideVcsIgnoredFiles: true
  minimap:
    {}
  "vim-mode":
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
