"*":
  Zen:
    softWrap: true
  "activate-power-mode":
    screenShake:
      enabled: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    grepCommandString: "/usr/local/bin/ag --nogroup --nocolor --column --smart-case --ignore=*.meta"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "symbols-view"
      "japanese-wrap"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-writer"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  date:
    timeFormat: "### HH24:MI"
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.8
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "1c11f54d-7cce-3800-3256-345cb5618415"
  "fuzzy-finder": {}
  "git-plus": {}
  "japanese-wrap":
    characterWidth: {}
  linter: {}
  "markdown-mindmap":
    theme: "colorful-dark"
  "markdown-writer": {}
  minimap:
    adjustAbsoluteModeHeight: true
    scrollAnimation: true
  narrow: {}
  "omnisharp-atom":
    altGotoDefinition: true
    autoAddExternalProjects: true
    autoAdjustTreeView: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "symbols-tree-view": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".narrow.source":
  editor:
    tabLength: 4
