# http://unix.stackexchange.com/questions/166121/using-xbindkeys-to-bind-the-meta-key-a-k-a-super-key-windows-key-to-left-cl

# Must be a release to make xdotool work

"xdotool keydown ctrl keydown b ; xdotool keyup b keyup ctrl"
  F13 + Release

