"*":
  Zen:
    softWrap: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "symbols-view"
      "vim-mode"
    ]
    followSymlinks: false
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  date:
    timeFormat: "### HH24:MI"
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 19
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "1c11f54d-7cce-3800-3256-345cb5618415"
  "git-plus":
    messageTimeout: 2
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
  minimap:
    scrollAnimation: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
